# Ignorar node_modules globales
**/node_modules/

# Ignorar dist de cualquier parte
**/dist/

# Ignorar logs
*.log

# Ignorar archivos del sistema/editor
.DS_Store
.vscode/

# Ignorar variables de entorno
.env

request.log
error.log